@import "@styles/shared/variables";
@import "@styles/shared/mixins";

.LoadingScreen {
	@include fixed-fullscreen();
	z-index: 1000;
	background: $background-color;
	pointer-events: none;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 1;
	pointer-events: none;

	animation: flashLoadingScreen 3s linear forwards;

	> * {
		opacity: 0;
		transform: translateY(1rem);
		animation: flashLoadingIcon 3s linear forwards;
	}

	@keyframes flashLoadingIcon {
		0% {
			transform: translateY(1rem);
			opacity: 0;
		}

		20% {
			transform: translateY(1rem);
			opacity: 0;
		}

		30% {
			transform: translateY(0rem);
			opacity: 1;
		}

		70% {
			transform: translateY(0rem);
			opacity: 1;
		}

		80% {
			transform: translateY(-1rem);
			opacity: 0;
		}
	}

	@keyframes flashLoadingScreen {
		0% {
			opacity: 1;
			pointer-events: none;
		}

		90% {
			opacity: 1;
			pointer-events: none;
		}

		100% {
			opacity: 0;
			pointer-events: none;
		}
	}

	@keyframes spin {
		0% {
			transform: rotateZ(0deg);
		}
		100% {
			transform: rotateZ(360deg);
		}
	}

	@keyframes pulse {
		0% {
			transform: scale(1);
		}

		25% {
			transform: scale(1.15);
		}

		50% {
			transform: scale(0.9);
		}

		100% {
			transform: scale(1);
		}
	}
}
