@import "@styles/shared/variables";
@import "@styles/shared/mixins";

.CollectionList {
	button {
		min-height: 75px;
		width: 100%;
		height: 100%;

		&[data-is-selected="true"] {
			color: $color-light-gray;
			background: $color-light-green;
			border-color: $color-light-green;
		}
	}
}
