@import "@styles/shared/variables";
@import "@styles/shared/mixins";

.Review {
	&__list {
		margin: 0 auto;
	}

	&__item {
		min-height: 50px;
		@include card();

		margin: 0.5rem 0;
		display: flex;
		align-items: center;
		padding: 0.75rem;
		span + svg {
			display: block;
			margin-left: 0.25rem;
		}

		&.label {
			justify-content: center;
			color: $color-light-gray;
			background: darken($color-light-green, 5%);
			border-color: darken($color-light-green, 5%);
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
		}

		&:not(.label) {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: none;
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		margin: 2rem 0;
	}
}
