@import "@styles/shared/variables";

.AddItemForm {
	width: 100%;

	.input-group {
		display: flex;
		justify-content: center;
		margin: 0 0 2rem;
		> div {
			margin: 0 auto;
		}
	}

	input[type="text"] {
		border: none;
		box-shadow: none;
		border-radius: 0px;

		text-align: center;
		// border: 1px solid $color-medium-gray;

		border-bottom: 2px solid $color-light-gray;
		max-width: 300px;

		&:focus {
			outline: none;
		}
	}
}
