* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  font-family: $font-family-default;
  font-size: $font-size-default;
}

ul[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
  margin: 0 0 1.5rem;
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

button {
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  border-radius: 0.5em;
  border: 1px solid $btn-border-color;
  background: $btn-background;
  box-shadow: 0px 1px 3px $color-medium-gray;
  color: $btn-color;
  transition: background $transition-default, border-color $transition-default;

  &:hover,
  &:focus {
    background: $btn-hover-background;
    border-color: $btn-hover-border-color;
  }

  + button {
    margin-left: 1rem;
  }

  &.green {
    color: $color-light-gray;
    background: $color-light-green;
    border-color: $color-light-green;

    &:hover,
    &:focus {
      background: darken($color-light-green, 3%);
    }
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

label {
  font-size: 1.15rem;
  display: block;
  margin-bottom: 0.5em;
}

input[type="text"] {
  border: 1px solid $color-light-gray;
  box-shadow: 0px 1px 3px $color-medium-gray;
  padding: 0.5rem;
  font-size: $font-size-default;
  border-radius: 0.3rem;

  + button {
    margin-left: 0.5rem;
  }
}

.Layout {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-heading {
  text-align: center;
}

.input-group {
  display: flex;
}

.grid {
  display: grid;
  grid-gap: 1.5rem;

  // default to 1 column
  grid-template-columns: 1fr;
}
