@import "@styles/shared/variables";

.Progress {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: var(--progress-bar-width);
	transition: width $transition-default;

	height: 4px;
	background: $color-light-green;
}
