@import "@styles/shared/variables";
@import "@styles/shared/mixins";

@mixin fixed-fullscreen() {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100vh;
}

@mixin modal-animate-in() {
	opacity: 0;
	pointer-events: none;

	.Modal__container {
		opacity: 0;
		transform: scale(0.9);

		transition: opacity 250ms ease, transform 250ms ease;
	}

	&[data-show="true"] {
		opacity: 1;
		pointer-events: all;

		.Modal__container {
			opacity: 1;
			transform: scale(1);
		}
	}

	transition: opacity 250ms ease;
}

.Modal {
	z-index: 100;
	@include fixed-fullscreen();
	@include modal-animate-in();

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba($color-black, 0.75);

	&__container {
		@include card();
		background: $background-color;
		box-shadow: 0px 1px 10px $color-dark-gray;

		width: 90%;
		max-width: $breakpoint-sm;
		height: auto;
		min-height: 30vh;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		padding: 2rem;

		@include larger-than(sm) {
			min-height: 50vh;
		}
	}

	&__close {
		position: fixed;
		top: 1rem;
		right: 1rem;

		&.IconButton {
			box-shadow: 0px 1px 10px $color-dark-gray;
		}
	}
}
