@import "@styles/shared/variables";
@import "@styles/shared/mixins";

.AnimatedList {
	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-gap: 1.5rem;
	@include larger-than(sm) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	button {
		min-height: 75px;
		width: 100%;
		height: 100%;

		&[data-is-selected="true"] {
			color: $color-light-gray;
			background: $color-light-green;
			border-color: $color-light-green;
		}
	}
}

.grid {
	display: grid;
	grid-gap: 1.5rem;

	grid-template-columns: 1fr 1fr;

	&.grid-3 {
		@include larger-than(sm) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
